* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", "Serif"; }

/* Carga del sitio */
.precargaGeneral {
  width: 100%;
  text-align: center;
  margin-top: 20%;
  height: 80%; }

.precargaSubSeccion {
  height: 100px;
  left: 35%;
  position: absolute;
  top: 35%;
  z-index: 100; }

.caja-carga {
  height: 100px;
  margin: 0 auto;
  position: relative;
  width: 100px;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial; }

.caja-carga img {
  left: 35%;
  position: absolute;
  top: 31%;
  width: 35%;
  z-index: 2; }

.circulo-externo {
  background-color: transparent;
  border-color: transparent rgba(0, 255, 0, 0.9) rgba(0, 255, 0, 0.9) transparent;
  border-image: none;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  left: 0;
  margin: 0 auto;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
  animation: spin .9s infinite linear;
  -moz-animation: spin .9s infinite linear;
  -webkit-animation: spin .9s infinite linear; }

.circulo-interno {
  background-color: transparent;
  border-color: transparent rgba(0, 255, 0, 0.9) rgba(0, 255, 0, 0.9) transparent;
  border-image: none;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 10px;
  box-shadow: 0 0 15px lime;
  height: 65%;
  left: 9%;
  margin: 0 auto;
  opacity: 0.9;
  position: absolute;
  top: 8%;
  width: 65%;
  animation: spinoff .9s infinite linear;
  -moz-animation: spinoff .9s infinite linear;
  -webkit-animation: spinoff .9s infinite linear;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial; }

.encuadre {
  max-width: 960px;
  margin: 0px auto; }

html {
  background-color: rgb(0, 0, 0); }

body {
  width: 100%;
  overflow-x: hidden; }

.contain-to-grid.transparente, .top-bar.transparente, .top-bar.expanded .title-area.transparente {
  background: transparent; }

.reveal-modal, .reveal-modal:active, .reveal-modal:focus {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  border: solid 1px lime;
  color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
  .reveal-modal h1, .reveal-modal:active h1, .reveal-modal:focus h1 {
    color: #FFF;
    padding: 0;
    margin: 0; }

main#reproductor {
  background-color: #000;
  color: #FFF; }

main#contenido {
  background-color: rgb(0, 0, 0);
  color: #FFF; }

section#redes-sociales {
  background-image: url(../img/back.jpg););
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  section#redes-sociales header {
    background-color: rgb(0, 255, 0);
    padding: 5px 0; }
    section#redes-sociales header #brand {
      background-image: url(../img/brand-slogan.png);
      background-position: center;
      background-size: cover;
      width: 200px;
      height: 45px; }
    section#redes-sociales header h1 {
      float: right;
      color: #000;
      margin: 0;
      font-weight: inherit;
      font-size: 20px;
      margin-top: 10px; }

section#contenido {
  background-image: url(../img/back.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }

footer {
  background-color: rgb(0, 0, 0); }

footer {
  font-family: "Open Sans", "Helvetica", "Arial", "Serif";
  padding: 10px;
  color: #FFF;
  vertical-align: center; }
  footer p, footer b {
    font-family: "Open Sans", "Helvetica", "Arial", "Serif";
    margin: 0;
    padding: 0; }
