.controles .boton-player {
  display: inline-block;
  margin: 10px 5px;
  padding: 15px 0px;
  width: 58px;
  background-color: #000;
  border: 2px solid lime;
  border-radius: 100%; }
  .controles .boton-player i {
    color: lime; }
  .controles .boton-player.activo {
    background-color: lime; }
    .controles .boton-player.activo i {
      color: #000; }
  .controles .boton-player.chico {
    display: inline-block;
    margin: 10px 5px;
    padding: 5px 0px;
    width: 37px;
    background-color: #000;
    border: 2px solid lime;
    border-radius: 100%; }
    .controles .boton-player.chico i {
      color: lime; }
      .controles .boton-player.chico i.activo {
        background-color: lime; }
        .controles .boton-player.chico i.activo i {
          color: #000; }
