@font-face {
	font:{
		family: "Helvetica";
		weight: normal;
		style: normal;
	}
	src: url("../fonts/helvetica/Helvetica.ttf") format("truetype"); 
}
@font-face {
	font:{
		family: "Helvetica Neue Condensed";
		weight: normal;
		style: normal;
	}
	src: url("../fonts/helvetica/HelveticaNeue-CondensedBold.otf") format("opentype"); 
}
@font-face {
	font:{
		family:"Open Sans";
		font-weight: normal;
		font-style: normal;
	}
	src:url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
	font:{
		family:"Open Sans Light";
		font-weight: normal;
		font-style: normal;
	}
	src:url("../fonts/open-sans/OpenSans-Light.ttf") format("truetype");
}