header{
	color: rgb(0, 245, 0);
	width: 100%;
	border-bottom: 1px solid rgb(50, 50, 50);
	& .contain-to-grid.barra-primaria {background: #000; & .top-bar, & .top-bar .name{height: 70px; &.expanded{height: auto;}}}
	& .contain-to-grid.barra-secundaria {background: rgb(50, 50, 50); text-transform: uppercase; }
	& .top-bar-section li.reproductor:not(.has-form) a:not(.button) {background-color: rgb(0, 255, 0); color: #000; } 
	& .top-bar-section ul#principal li{
		background-color: transparent; 
		& > a{
			background-color: transparent; 
			font-family: "Helvetica Neue Condensed";
			font-size: 20px;  
			padding: 10px; 
			color: lime; 
		}
	}
	& .top-bar-section ul#secundario li a{
		text-transform: uppercase; 
		font-family: "Helvetica"; 
		font-size: 16px; 
		color: lime; 
	}
	& .top-bar-section ul li:hover.reproductor:not(.has-form) > a{background-color: #000; color: lime;} 
	& li.reproductor, & li.reproductor a {background-color: rgb(0, 255, 0);}
	& #brand{
		display: inline-block; 
		padding: 10px;
		margin-top: 8px; 
		vertical-align: middle;
		width: 200px;
		height: 55px;
		background: {
			image: url(../img/brand.png);
			size: cover;
			position: center;
			repeat: no-repeat; 
		}
		cursor: pointer; 
		@media all and (max-width: 639px){display: inline-block;}
	}
	& .brand-menu #menu-responsive:hover nav#principal ul{
		display: block; 
	}
	& .brand-menu {
		display: inline-block; 
		font-family: "Helvetica Neue Condensed";
		vertical-align: middle; 
		@media all and (max-width: 639px){
			display: block;
			text-align: center; 
		}
		& #brand{
			display: inline-block; 
			padding: 10px;
			vertical-align: middle;
			width: 130px;
			height: 30px;
			background: {
				image: url(../img/brand.png);
				size: cover;
				position: center;
				repeat: no-repeat; 
			}
			cursor: pointer; 
			@media all and (max-width: 639px){display: inline-block;}
		}
		& #menu-responsive {
			display: none; 
			vertical-align: middle; 
			padding: 5px; 
			@media all and (max-width: 639px){display: inline-block;}
		}
	}
	& nav{
		display: block;
		color: rgb(0, 245, 0);
		&#principal{
			background-color: rgb(0, 0, 0);
			& ul{
				display: inline-block;
				cursor: pointer;
				float: right;
				@media all and (max-width: 639px){display: none; text-align: center; float: none; width: 100%;}
				li{
					display: inline-block;
					padding: 15px;
					font-family: "Helvetica Neue Condensed";
					@media all and (max-width: 639px){width: 43%;}
					@media all and (max-width: 360px){display: block; width: inherit; padding: 20px 0; }
					&:hover{
						background-color: rgb(0, 255, 0); 
						color: #000; 
					}
				}
			}
		}
		&#secundario{
			background-color: rgb(50, 50, 50);
			& ul{
				display: inline-block;
				cursor: pointer;
				text-transform: uppercase;
				&#Spotify{
					float: right; 
					@media all and (max-width: 639px){float: none; }
				}
				@media all and (max-width: 639px){width: 100%;}
				li{
					display: inline-block;
					margin: 0px;
					vertical-align: top; 
					& ul {
						position: absolute; 
						display: none; 
						background-color: rgb(200, 200, 200); 
						@media all and (max-width: 639px){position: static; margin: 0; }
						&#programas {
							color: #000; 
							& li{
								width: 150px; 
								padding: 10px; 
								&:hover ul{
									display: inline-block; 
								}
								& ul{
									float: left;
									position: absolute;
									display: none; 
									top: 0;
									left: 100%; 
									width: 500px; 
									& li#descripcion{
										background-color: transparent !important; 
										color: #000 !important; 
									}
								}
							}
							& .opcion {
								padding: 0px; 
							}
						}
						& li{
							display: block; 
							padding: 15px 30px; 
							text-transform: none; 
							@media all and (max-width: 639px){width: calc(100% - 60px); }
							&:hover{background-color: #000; color: #DDD;}
						}
					}
					&#reproductor ul {
						background-color: rgb(0, 245, 0); color: #000;
						& li{
							font-family: "Helvetica Neue Condensed"; 
							padding: 5px 28px; 
							border-top: 2px solid #000; 
							&:first, &:nth-child(2){border-top: none; }
							& .icono{
								background: {
									image: url(../img/iconos-players.png); 
									repeat: no-repeat; 
								} 
								display: inline-block; 
								vertical-align: middle; 
								width: 37px;
								height: 37px; 
								&#winamp{background-position: -10px, 0px;} 
								&#wmp{background-position: -50px, 0px;} 
								&#itunes{background-position: -90px, 0px;} 
							}
							&:hover {background-color: #000; color: rgb(0, 245, 0);} 
						}
					}
					&#Spotify ul {
						position: relative;  
						background-color: #000; color: #FFF;
						& li{
							font-family: "Helvetica Neue Condensed";
							&:hover {background-color: #FFF; color: #000;} 
						}
					}
					&:hover ul{
						display: block; 
					}
					& .opcion{
						padding: 15px 30px;
						&:hover{
							background-color: rgba(0, 0, 0, 0.5);
						}
						&#programas{
							width: 110px; 
						}
						&#reproductor{
							background-color: rgb(0, 245, 0);
							color: rgb(20, 20, 20);
						}
						&#Spotify {
							background: {
								image: url(../img/spotify.png); 
								position: center; 
								repeat: no-repeat; 
							}
							width: 192px; 
							height: 50px; 
							vertical-align: top; 
							float: right;
							z-index: 10; 
							@media all and (max-width: 639px){width: 100%; float: none; display: block;}
							& ul {background-color: rgb(20, 20, 20); }
						}
					}
					@media all and (max-width: 639px){display: block;}
					& #Spotify {
						width: 192px; 
						height: 50px; 
						vertical-align: top; 
						float: right;
						padding: inherit; 
						@media all and (max-width: 639px){width: 100%; float: none; display: block;}
					}
				}
				& #Spotify {
					width: 192px; 
					height: 50px; 
					vertical-align: top; 
					float: right;
					padding: inherit; 
					@media all and (max-width: 639px){width: 100%; float: none; display: block;}
				}
				& #Spotify-back {
					vertical-align: top; 
					float: right;
					@media all and (max-width: 639px){width: 100%; float: none; display: block;}
					&:hover ul{
						display: block;
						@media all and (max-width: 639px){height: auto;}
					}
					& ul {
						text-transform: none;
						position: absolute;
						margin-top: 50px;
						margin-left: 40px; 
						background-color: rgb(200, 200, 200);
						display: none; 
						@media all and (max-width: 639px){width: 100%; position: inherit; margin: 0; }
						& li{
							display: block; 
							&#titulo:hover{background-color: inherit;}
						}
					}
				}
			}
		}
	}
}