.controles .boton-player{
	display: inline-block;
	margin: 10px 5px; 
	padding: 15px 0px; 
	width: 58px; 
	background-color: #000; 
	border: 2px solid rgb(0, 255, 0); 
	border-radius: 100%; 

	& i {
		color: rgb(0, 255, 0); 
	}
	&.activo{
		background-color: rgb(0, 255, 0);
		& i {
			color: #000; 
		}
	}

	&.chico{
		display: inline-block;
		margin: 10px 5px; 
		padding: 5px 0px; 
		width: 37px;
		background-color: #000; 
		border: 2px solid rgb(0, 255, 0); 
		border-radius: 100%; 

		& i {
			color: rgb(0, 255, 0); 
			&.activo{
				background-color: rgb(0, 255, 0);
				& i {
					color: #000; 
				}
			}
		}
	}
}